h1{
    text-align: center;
}
div{
    border: solid black 1px;
}
.center{
    position: absolute;
    height: 800px;
    width: 80%;
    margin-left: 9%;
    margin-top: 50px;
}
.top{
    margin: 5px;
    text-align: center;
}
caption{
    text-align: center;
}
.out{
    position: relative;
    display: inline-block;
    height: 500px;
    width: 80%;
    left: 10%;
    overflow: hidden;
}
.in{
    position: relative;
    height: 500px;
    width: 100%;
}
th,td{
    margin: 1px;
    border: solid red 1px;
}
th{
    width: 250px;
}
#tab2>table>tbody>tr:first-child>th:first-child{
    width: 100px;
}
.right-button{
    float: right;
}
.left-button{
    float: left !important;
    cursor: pointer;
}
#showTips{
    position: fixed;
    display: none;
    height: 65px;
    width: 200px;
    border: solid red 1px;
    left: 42%;
    top: 28%;
    background-color: yellow;
    z-index: 100;
    text-align: center;
    padding-top: 40px;
}
